<style type="text/css">
    #panelChart3{
        width: 700px;
        height:580px;
        padding:30px;
    }
    #panelChart3 .panel-body{
        background-image:url("/themes/mapa.PNG");
        width: 100%;
        height:550px;
    }
.contador {
    background-color: cornflowerblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 9999px;
    border: white 2px solid;
    width: 60px;
    text-align: center;
    position: absolute;
}

.c7{
    top: 174px;
    left: 143px;
}
.c6{
    top: 400px;
    left: 160px;
}
.c5{
    top: 236px;
    left: 457px;
}
.c4{
    top: 370px;
    left: 457px;
}
.c3{
    top: 363px;
    left: 294px;
}
.c2{
      top: 230px;
    left: 449px;
}
.c1{
    top: 249px;
    left: 305px;
}
</style>
<section>
  <div class="row" ng-controller="ComunidadeController" >    
  
  <div class="col-lg-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-9 col-md-9 col-sm-9">
      <!-- START bar chart-->
      <div id="panelChart3" class="panel">
         <div class="panel-heading">
            <div class="panel-title">Consumo na Comunidade</div>
         </div>
         <div collapse="panelChart3" class="panel-wrapper">
            <div class="panel-body">
                <div class="contador c1">3250</div>
                <div class="contador c3">1232</div>
                <div class="contador c4">0756</div>
                <div class="contador c5">2451</div>
                <div class="contador c6">1545</div>
                <div class="contador c7">1729</div>
            </div>
         </div>
      </div>
      <!-- END bar chart-->
   </div>
</div>   


</section>