<h3 data-ng-show="authentication.user">
   <!-- START Language list-->
   <!-- <div class="pull-right">
      <div dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div> -->
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} <b class="text-uppercase">{{ authentication.user.name }}</b> !!! </small>
</h3>

<section>

  <div class="row" ng-controller="PrefeituraController">    
  
  <div class="col-lg-8">
      <!-- START bar chart-->
      <div id="panelChart3" class="panel">
         <div class="panel-heading">
            <!-- START button group-->
            <div dropdown="dropdown2" class="pull-right btn-group">
               <button type="button" dropdown-toggle="" class="btn btn-default btn-sm">Monthly</button>
               <ul role="menu" class="dropdown-menu fadeInLeft animated">
                  <li><a href="#">Daily</a>
                  </li>
                  <li><a href="#">Monthly</a>
                  </li>
                  <li><a href="#">Yearly</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <div class="panel-title">Prefeitura</div>
         </div>
         <div collapse="panelChart3" class="panel-wrapper">
            <div class="panel-body">
               <flot src="'server/chart/barstackedv2.json'" options="barStackedOptions" height="250px"></flot>
            </div>
         </div>
      </div>
      <!-- END bar chart-->
   </div>
</div>   


</section>