<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="center">
			<h1 class="blue" id="id-company-text">Projeto Hackathon TICNova Maringa 2015</h1>
			<h4>
				<span class="red">&copy; Arquiteta</span>
				<span class="white" id="id-text2">Web</span>
			</h4>
		</div>

		<input id="publish" type="button" value="Publish">
		<ul id="messages"></ul>
	</div><!-- /.col -->
</div><!-- /.row -->

<!-- inline scripts related to this page -->
<script type="text/javascript">
jQuery(function($) {
 $(document).on('click', '.toolbar a[data-target]', function(e) {
	e.preventDefault();
	var target = $(this).data('target');
	$('.widget-box.visible').removeClass('visible');//hide others
	$(target).addClass('visible');//show target
 });
});

//you don't need this, just used for changing background
jQuery(function($) {
	
	$('#id-text2').attr('class', 'grey');
	$('#id-company-text').attr('class', 'blue');	 


	var es = new EventSource('/api/stream');
	es.onmessage = function(e) { 
    	$('#messages').append("<li>" + e.data + "</li>") 
	}
  	$("#publish").click(function () {
	    $.post("/api/publish")
  	})

});
</script>
