<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <base href="/">
    <title>SENSORES</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="assets/css/bootstrap.css" />
	<link rel="stylesheet" href="assets/css/font-awesome.css" />

	<!-- page specific plugin styles -->
	<link rel="stylesheet" href="assets/css/colorbox.css" />

	<link rel="stylesheet" href="assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="scripts/lib/bootstrap-fileinput/css/fileinput.css" />

	<!-- text fonts -->
	<link rel="stylesheet" href="assets/css/ace-fonts.css" />

	<!-- ace styles -->
	<link rel="stylesheet" href="assets/css/ace.css" />

	<!--[if lte IE 9]>
		<link rel="stylesheet" href="../assets/css/ace-part2.css" />
	<![endif]-->
	<link rel="stylesheet" href="assets/css/ace-rtl.css" />

	<!-- customs -->
	<link rel="stylesheet" href="scripts/lib/angular-loading-bar/src/loading-bar.css">
    <link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/animate.css">

</head>
<body class="login-layout light-login">
	<!--<div class="main-container">
		<div class="main-content">
			<div id="app-container" ng-view></div>    
		</div>
	</div>-->

	<div id="app-container" ng-view></div> 

	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery || document.write("<script src='assets/js-min/jquery.min.js'>"+"<"+"/script>");
	</script>

	<!-- <![endif]-->

	<!--[if IE]>
	<script type="text/javascript">
	window.jQuery || document.write("<script src='assets/js/jquery1x.js'>"+"<"+"/script>");
	</script>
	<![endif]-->
	<script type="text/javascript">
		if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
	</script>
	
	<script src="scripts/lib/angular/angular.min.js"></script>
	<script src="scripts/lib/datatables/media/js/jquery.dataTables.min.js"></script>		
	<script src="scripts/lib/angular-datatables/dist/angular-datatables.min.js"></script>
	<script src="scripts/lib/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>

	<script data-main="scripts/main.js" src="scripts/lib/requirejs/require.js"></script>
	<!--<script data-main="scripts/webapp.min.js" src="scripts/lib/requirejs/require.js"></script>-->
</body>
</html>