    #panelChart3{
        width: 700px;
        height:580px;
        padding:30px;
    }
    #panelChart3 .panel-body{
        background-image:url("/themes/mapa.PNG");
        width: 100%;
        height:550px;
    }
    .contador{
        background-color: cornflowerblue;
        color:white;
        font-size:18px;
        font-weight:bold;
        border-radius:99px;
    }