<h3>Cadastro de Garçons
   <small>cadastre sua garçons</small>   
</h3>

<div ng-controller="GarcomsEditController" class="container-fluid" ng-init="findOne()">
   <div class="row">
      <div class="col-md-12">
         <form name="formValidate" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-pattern ng-valid-url ng-invalid-validator ng-valid-minlength ng-valid-maxlength ng-valid-blacklist ng-valid-date ng-valid-date-disabled ng-valid-time">
            <!-- START panel-->
            <div class="panel panel-default">
               <div class="panel-body">
                  <fieldset class="b0">
                     <legend>
                        {{ 'geral.BASIC' | translate:{ appName: app.name } }}
                     </legend>
                  </fieldset>

                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Nome do Garçom
                        </label>
                        <div class="col-sm-6">
                           <input type="text" name="name" required ng-model="garcom.user.name" class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">                           
                        </div>
                     </div>
                  </fieldset>                  

                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Email
                        </label>
                        <div class="col-sm-6">
                           <input type="email" name="email" disabled required ng-model="garcom.user.email" class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">                           
                        </div>
                     </div>
                  </fieldset> 

                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Ativo</label>
                        <div class="col-sm-6">
                           <div class="checkbox c-checkbox needsclick">
                              <label class="needsclick">
                                 <input type="checkbox" 
                                    requiread="" 
                                    name="checkbox" 
                                    ng-model="garcom.user.ativo" 
                                    class="needsclick ng-dirty ng-valid-parse ng-touched ng-valid ng-valid-required">
                                 <span class="fa fa-check"></span></label>
                           </div>
                        </div>
                        <div class="col-sm-4"></div>
                     </div>
                  </fieldset>

                  <!-- <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Alterar Senha
                        </label>
                        <div class="col-sm-6">
                           <input type="password" name="password" required ng-model="garcom.user.password" class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">                           
                        </div>
                     </div>
                  </fieldset> -->

                </div>               

                <div class="panel-footer text-center">                  
                  <div class="text-right mt-lg">
                     <button type="button" class="btn btn-warning">
                        {{ 'button.DISCARD' | translate:{ appName: app.name } }}
                     </button>
                     <button type="submit" class="btn btn-success">
                        {{ 'button.SAVE' | translate:{ appName: app.name } }}
                     </button>
                  </div>
                </div>
            <!-- END panel-->
         </form>

      </div>
   </div>
   <!-- END row-->
</div>
