<h3>Cartões
   <small>cadastro de cartões</small>
</h3>

<div ng-controller="CartoesEditController" class="container-fluid" ng-init="findOne()">
   <div class="row">
      <div class="col-md-12">
         <form name="formValidate" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-pattern ng-valid-url ng-invalid-validator ng-valid-minlength ng-valid-maxlength ng-valid-blacklist ng-valid-date ng-valid-date-disabled ng-valid-time">
            <!-- START panel-->
            <div class="panel panel-default">
               <div class="panel-body">
                  <fieldset class="b0">
                     <legend>
                        {{ 'geral.BASIC' | translate:{ appName: app.name } }}
                     </legend>
                  </fieldset>

                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Descrição
                        </label>
                        <div class="col-sm-6">
                           <input type="text" name="name" required ng-model="cartao.descricao" class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">                           
                        </div>
                     </div>
                  </fieldset>

                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Taxa da Operadora
                        </label>
                        <div class="col-sm-6">                        
                           <div class="input-group">                              
                              <input type="text" 
                                 ui-number-mask="decimals"
                                 max="100"
                                 required
                                 ng-model="cartao.taxaOperadora"
                                 class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">
                                 <span class="input-group-addon">%</span>
                           </div>                           
                        </div>
                     </div>
                  </fieldset>
                  
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Ativo</label>
                        <div class="col-sm-6">
                           <div class="checkbox c-checkbox needsclick">
                              <label class="needsclick">
                                 <input type="checkbox" 
                                    requiread="" 
                                    name="checkbox" 
                                    ng-model="cartao.ativo" 
                                    class="needsclick ng-dirty ng-valid-parse ng-touched ng-valid ng-valid-required">
                                 <span class="fa fa-check"></span></label>
                           </div>
                        </div>
                        <div class="col-sm-4"></div>
                     </div>
                  </fieldset>

               </div>               

               <div class="panel-footer text-center">                  
                  <div class="text-right mt-lg">
                     <button type="button" class="btn btn-warning">
                        {{ 'button.DISCARD' | translate:{ appName: app.name } }}
                     </button>
                     <button type="submit" class="btn btn-success">
                        {{ 'button.SAVE' | translate:{ appName: app.name } }}
                     </button>
                  </div>
               </div>
            </div>
            <!-- END panel-->
         </form>

      </div>
   </div>
   <!-- END row-->
</div>
