<div ng-include src="'partials/nav.html'"></div>

<div class="page-content">
	<div class="page-header">
		<h1>
			Pessoa
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				<span ng-if="addView">Adicionar Nova Pessoa</span>
				<span ng-if="!addView">Editar Pessoa</span>
			</small>
		</h1>
	</div><!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<form ng-submit="createPerson()" role="form" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nome Completo </label>

					<div class="col-sm-9">
						<input type="text" class="col-xs-10 col-sm-5" value="{{origin.name}}" ng-model="person.name" placeholder="Nome completo..." required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Idade </label>

					<div class="col-sm-9">
						<input type="number" class="col-xs-10 col-sm-2" value="{{origin.age}}" ng-model="person.age" placeholder="Idade..." required>
					</div>
				</div>

				<div class="form-group">
					<div id="accordion" class="accordion-style2">
						<div class="group">
							<h3 class="accordion-header" >Fotos</h3>
							<div ng-show="!addView">
								<input id="input-702" name="kartik" type="file" multiple=true class="file-loading" data-upload-url="/api/upload" data-upload-async="false" data-max-file-count="10">
							</div>							
						</div>
					</div>		
				</div>		

				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Salvar
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Desfazer
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn btn-danger" ng-click="$back()" type="button">
							<i class="ace-icon fa fa-times bigger-110"></i>
							Cancelar
						</button>

					</div>
				</div>

			</form>
								
		</div><!-- /.col -->
	</div><!-- /.row -->

</div>