<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Left navbar-->
      
      <ul class="nav navbar-nav navbar-right ml0 mr0" data-ng-hide="authentication.user">
         <li ui-route="/home" ng-class="{active: $uiRoute}">
            <a href="/#!/cliente">Consumidor</a>
         </li>
         <li class="divider-vertical"></li>
         <li ui-route="/comunidade" ng-class="{active: $uiRoute}">
            <a href="/#!/comunidade">Comunidade</a>
         </li>
         <li class="divider-vertical"></li>
         <li ui-route="/prefeitura" ng-class="{active: $uiRoute}">
            <a href="/#!/prefeitura">Prefeitura</a>
         </li>
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->