<h3>Cadastro de Entregadores
   <small>cadastre seu entregador</small>   
</h3>

<div ng-controller="EntregadoresCreateController" class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <form name="formValidate" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-pattern ng-valid-url ng-invalid-validator ng-valid-minlength ng-valid-maxlength ng-valid-blacklist ng-valid-date ng-valid-date-disabled ng-valid-time">
            <!-- START panel-->
            <div class="panel panel-default">
               <div class="panel-body">
                  <fieldset class="b0">
                     <legend>
                        {{ 'geral.BASIC' | translate:{ appName: app.name } }}
                     </legend>
                  </fieldset>

                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Nome do Entregador
                        </label>
                        <div class="col-sm-6">
                           <input type="text" name="name" required ng-model="entregador.user.name" class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">                           
                        </div>
                     </div>
                  </fieldset>                  

                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Email
                        </label>
                        <div class="col-sm-6">
                           <input type="email" name="email" required ng-model="entregador.user.email" class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">                           
                        </div>
                     </div>
                  </fieldset> 

                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Digite Senha
                        </label>
                        <div class="col-sm-6">
                           <input type="password" name="password" required ng-model="entregador.user.password" class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">                           
                        </div>
                     </div>
                  </fieldset>

                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">
                           Redigite a Senha
                        </label>
                        <div class="col-sm-6">
                           <input 
                              type="password" 
                              name="password_confirm" 
                              required 
                              ng-model="entregador.user.password_confirm" 
                              ui-validate="'$value == entregador.user.password'" 
                              ui-validate-message="sadsdasd" 
                              ui-validate-watch="'password'"
                              class="form-control ng-dirty ng-touched ng-invalid ng-invalid-required">  
                              <span ng-show="formValidate.password_confirm.$dirty &amp;&amp; formValidate.password_confirm.$error.validator" class="text-danger">Senha não confere</span>
                        </div>
                     </div>
                  </fieldset>

                </div>               

                <div class="panel-footer text-center">                  
                  <div class="text-right mt-lg">
                     <button type="button" class="btn btn-warning">
                        {{ 'button.DISCARD' | translate:{ appName: app.name } }}
                     </button>
                     <button type="submit" class="btn btn-success">
                        {{ 'button.SAVE' | translate:{ appName: app.name } }}
                     </button>
                  </div>
                </div>
            <!-- END panel-->
         </form>

      </div>
   </div>
   <!-- END row-->
</div>
